/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.IndexDiv > *{
    margin: auto;
    color: black;
    text-decoration: none;
}
.formSelection{
    border-radius: 4px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    background-color: #fff;
    padding: 2rem;
    margin-top: 5rem;
    margin-bottom: 4rem;
}
.buttonResearch{
    background-color: #4183d7;
    height: 30px;
    border: 1px solid ;
    color:white;
    border-radius: 4px;
    margin: auto 0;
}
.researchDiv{
    display: flex;
    flex-direction: row;
}
.valueResearch{
    width: 70%;
    margin: 10px;
}
.parameterResearch{
    display: flex;
    flex-direction: row;
}
.parameterResearch>*{
    margin: 10px;
}